@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.app {
  font-size: 14px;
  padding: 12px;
  font-family: sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 960px;
  width: 100%;
  margin: 20px auto;
}

.tag {
  font-size: 11px;
  text-transform: uppercase;
  padding: 3px 8px;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  font-weight: 500;
}

.approved {
  background-color: #d3f6ea;
  color: rgb(37, 105, 83);
}

.declined {
  background-color: #ffd5d5;
  color: #682020;
}
